@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.createreport-div {
 
  width: 100%;
  margin-bottom: 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190vh;
  background-color: #f3f1f1;

  
}

.createreport-div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  font-weight: 700;
  display: inline-block;

  
}

.createreport-label {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: block;
  color: #080808;
  font-family: "Material Icons";
  margin-right: 5px;
}


.createreport-h1 {
  display: flex;
  
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #0a0a0a;
  text-align: center;
}

.createreport-h1::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}

.createreport-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


body {
  background-color: #f1f1f1;
}

 */



 .createreport-label-2 {

  font-weight: 500;
  display: inline-block;

  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  /* display: block; */
  color: #080808;
  margin-right: 5px;
}
.createreport-input {
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-bottom: 2rem;
  display: inline-block; /* display input field as inline-block */
  vertical-align: top; 
}

.createreport-select {
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
  width: 50%;


  border-bottom: 1px solid #ccc;
  width: 70%;
  margin-bottom: 2rem;

}

.createreport-input:focus{
  outline: none;
  border-bottom: 1px solid #007bff;
}


.createreport-select:focus{
  outline: none;
  border-bottom: 1px solid #007bff;
}


.createreport-button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #4CAF50;
  color: #FFFFFF; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.createreport-button:hover {
  background-color: #6894db;
}
.createreport-button::before {
  background-color: #555;
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
}




@media screen and (max-width: 768px) {
  .createreport-h1 {
    font-size: 28px;
  }

  .createreport-form {
    max-width: 400px;
  }
}



