 .reporttypeselect-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

/* Form type select */
.select-wrapper {
  margin-bottom: 20px;
}

.reporttypeselect-table {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  padding-left: 20%;
}


/* select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #f7f7f7;
  color: #333;
  width: 300px;
  margin-right: 20px;
} */

/* select option {
  font-size: 16px;
  color: #333;
}  */

/* Style for the table element */


/* Style for the table headers */

.reporttypeselect-th1column {
  color: white;
  font-weight: bold;
  background-color: #333;
  text-align: left;
  padding: 10px;

}

.reporttypeselect-tbody-td{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.reporttypeselect-tr1column {
  border: 1px solid black;
}

.reporttypeselect-th {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}

.reporttypeselect-tfoot-td{
  padding: 10px;
  border-top: 1px solid #ccc;
}

.reporttypeselect-th3column{
  font-weight: bold;
  padding: 10px;
  text-align: left;
  background-color: #333;
  color: #fff;
}


.selectreporttype-input-tfoot {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black; 
  background-color: #f7f7f7;
  color: #333;
  width: 100%;
  max-width: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.selectreporttype-select-tfoot {
  font-size: 16px;
  color: #333;
}
/* Style for the form button */
.selectreporttype-submit{
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #0ec017;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.selectreporttype-submit:hover {
  background-color: #555;
}



.reporttypeselect-tr {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reporttypeselect-tr:hover {
  background-color: #f2f2f2;
}

.reportselecttype-add-button {
  background-color: #0db120;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 0px;
  padding: 10px 15px;
  width: 100%;
}
.reportselecttype-add-button:hover{
  background-color: #010101;
}

.reportselecttype-submit-button {
  background-color:#0db120;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  padding: 10px 15px;
}

.reporttypeselect-div{
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.reporttypeselect-div input[type="text"]:focus {
  outline: none;
}

.reporttypeselect-tbody .reporttypeselect-trbuttoncolumn button {
  display: block;
  margin: 10px auto;
}

.reporttypeselect-tbody .reporttypeselect-trbuttoncolumn button:hover {
  background-color: #5549da;
}

.reporttypeselect-tbody .reporttypeselect-trbuttoncolumn button:active {
  background-color: #2a28b1;
}
