.report-type-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
}

/* Form type select */
.select-wrapper {
  margin-bottom: 20px;
}

select {

    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #f7f7f7;
  color: #333;
  width: 300px;
  margin-right: 20px;
  }
  
  select option {
    font-size: 16px;
    color: #333;
  }

  /* Style for the table element */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
  }
  
  /* Style for the table headers */
  thead th {
    font-weight: bold;
    background-color: #333;
    text-align: left;
    padding: 10px;
    color: #fff;
  }
  
  /* Style for the table cells */
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  tfoot td {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  tfoot th {
    font-weight: bold;
    padding: 10px;
    text-align: left;
    background-color: #333;
    color: #fff;
  }
  
  /* Style for the form element */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the form labels */
  label {
    margin-bottom: 8px;
  }
  
  /* Style for the form inputs */
  input[type="text"] {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #f7f7f7;
    color: #333;
    width: 100%;
    max-width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  tfoot select option {
    font-size: 16px;
    color: #333;
  }
  /* Style for the form button */
  button[type="submit"] {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #555;
  }